.linkconfig{
    display: flex;
    justify-content: center;
    color: black;
    outline: none;
    text-decoration: none;
}
.Login{
    background-color: #91B8C1;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    padding: auto;
    width: 40rem;

    border-radius: 10px;
}
.cd{
    width:85%;
}

.loginbtn{
    width: 300px;
    height: auto;
    border-radius: 20px;
    background-color: #568281;
    color: #fff;
}

.login-form {
 max-width: 500px;
 margin: 50px auto;
 padding: 30px;
}

.btn-google,
.btn-twitter,
.btn-facebook {
 width: 100%;
 border-radius: 15px;
}

.btn-login {
 width: 100%;
 margin-top: 20px;
}
.form-control{
    border-radius: 30px;
}